.childrens-ministry-component {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/images/wv-childrens-ministries.jpg');
  background-size: cover;
  background-position: center;
}
.childrens-ministry {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 1rem !important;
  text-align: center;
}
.childrens-ministry-component .title {
  width: 100%;
  font-size: 2.4rem;
  color: var(--white);
  padding-bottom: 1rem;
}
.childrens-ministry-component .section-text {
  width: 100%;
  color: var(--white);
  padding-bottom: 1.5rem;
}
.childrens-ministry-component .section-button {
  background: var(--backgroundColor);
  color: var(--gray-1100);
  /* border: 2px solid var(--white); */
  /* color: var(--white); */
}
@media screen and (min-width: 815px) {
  .childrens-ministry-component {
    background-attachment: fixed;
  }
  .childrens-ministry-component .title {
    font-size: 3rem;
  }
}
