.hero-container {
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block; /* shrink wrap to image */
  overflow: hidden; /* hide the excess */
  /* height: calc(100vh - 9rem); */
  /* margin */
}
.hero-container .img {
  min-height: calc(100vh - var(--nav-height) - 1.3rem);
  object-fit: cover;
  /* object-position: */
  transform: scale(1.5);
}

.hero-container .content-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: var(--white);
}
.hero-container .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  height: 100%;
  width: 90%;
}

.hero-container .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.6rem;
  word-spacing: -2px;
  padding: 0;
  /* margin: 1rem; */
  /* margin-top: 8rem; */
  margin-bottom: 2rem;
}
.hero-container h2 {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  width: 90%;
  color: var(--white);
  text-align: center;
  font-size: 1.6rem !important;
  margin: 0;
  margin-bottom: 2rem;
  /* text-decoration: underline; */
  /* text-decoration-thickness: 1px; */
  /* text-underline-offset: 1rem; */
}
.hero-container h2 span {
  width: 100%;
  text-align: center;
}

.hero-container h2 .line {
  height: 100%;
  width: 2px;
  background: var(--white);
}
.hero-container .btns {
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}
.hero-container .btns button {
  width: 100%;
  white-space: nowrap;
  height: 60px;
  padding: 0 0.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  background: none;
  color: var(--gray-100);
  /* color: var(--primary-100); */
  outline: none;
  box-shadow: none;
  border: 2px solid var(--gray-100);
}
.hero-container .btns button:hover {
  color: var(--gray-1000);
  border: 2px solid var(--white) !important;
  background: var(--white) !important;
}

@media screen and (min-width: 715px) {
  .hero-container {
    height: calc(100vh - var(--nav-height));
  }
  .hero-container .title {
    font-size: 3.5rem;
  }
  .hero-container h2 {
    font-size: 1.8rem !important;
  }
  .hero-container h2 > span:nth-of-type(1) {
    text-align: right;
  }
  .hero-container h2 > span:nth-of-type(2) {
    text-align: left;
  }
  .hero-container .btns {
    gap: 4rem;
  }
  .hero-container .btns button {
    padding: 0 1rem;
  }
  .hero-container .break:after {
    content: '\000A';
    white-space: pre;
  }
}
@media screen and (min-width: 992px) {
  .hero-container .title {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container .title {
    margin-bottom: 4rem;
  }
  .hero-container h2 {
    white-space: nowrap;
    margin-bottom: 2rem;
  }
}

/* Scroll Down Arrow */
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  position: absolute;
  bottom: 8%;
  left: auto;
  right: auto;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  cursor: pointer;
}

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
