nav {
  height: var(--nav-height);
  padding: 0 2rem;
}

/* Logo Image */
nav .logo {
  display: flex;
  align-items: center;
  height: 100%;
}
nav .logo img {
  height: calc(var(--nav-height) * 0.6);
  object-fit: contain;
}

/* Links container */
nav .links {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow: hidden;
  transform: translateX(-101%);

  min-height: 100vh;
  width: 100vw;
  padding-top: 1rem;

  background: var(--backgroundColor);
  transition: var(--transition);
}
nav .links.show-links {
  transform: translateX(0%) !important;
}

/* Un-ordered list of links */
nav ul {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;

  background: var(--backgroundColor);
}
/* List item */
nav ul li {
  display: inline-block;
  width: 90%;
  padding: 1rem 1rem;
  margin: 0 1rem;
  border-radius: 0;
  border-bottom: 1px solid var(--gray-400);

  color: red;
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);

  transition: var(--transition);
}
/* Link item */
nav .link {
  position: relative;

  height: calc(var(--nav-height) * 0.5);
  width: 100%;
  padding: 0 1rem;

  color: var(--gray-1000);
}

nav .expand {
  position: absolute;
  left: -15px;
}

/* Dropdown list item */
nav ul ul li {
  border: none;
}
nav ul button {
  display: flex;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
}

/* Active link style */
.active-link {
  color: var(--primary) !important;
}

nav .nav-mobile-logo,
nav .nav-mobile-logo .logo {
  margin: 0;
  padding-left: 0;
}
/* Dropdown un-ordered list */
nav ul ul {
  max-height: 0;
  height: fit-content;
  transition: all 0.3s;
  overflow: hidden;
}
nav ul ul.show {
  max-height: 500px;
}

/* Hamburger Button */
.nav-btn {
  position: absolute;
  right: 0.5rem;
  top: calc(var(--nav-height) / 8);
  z-index: 11;
  margin-bottom: 2rem;
  background: none;
  box-shadow: none;
  padding: 0.15rem 0.75rem;
  font-weight: bolder;
  outline: none;
  transition: var(--transition);
}
.nav-btn,
.nav-btn div {
  color: var(--primary-500);
}
.nav-btn.show div {
  color: var(--gray-900) !important;
}
.nav-btn:hover {
  background: none;
  box-shadow: none;
}
.nav-btn:focus {
  outline: 0;
}
.visit-link {
  border: none;
  margin-top: 0.5rem;
}
.visit-link .link {
  color: var(--backgroundColor);
  padding: 0.5rem 1.5rem;
  border: none;
}

@media screen and (min-width: 992px) {
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  nav .links {
    position: relative;
    transform: translateX(0%);
    overflow: visible;

    min-height: var(--nav-height);
    height: var(--nav-height);
    width: auto;
    padding-top: 0rem;

    background: var(--backgroundColor);
    transition: var(--transition);
  }
  nav ul {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;

    background: var(--backgroundColor);
  }
  /* List item */
  nav ul li {
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
    padding: 1rem 0rem;
    margin: 0 1rem;
    border-radius: 0;
    border-bottom: none;
    color: red;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);

    transition: var(--transition);
  }
  /* Link item */
  nav .link {
    display: flex;
    align-items: center;
    height: calc(var(--nav-height) * 0.5);
    padding: 0 1rem;

    color: var(--gray-1000);
  }

  nav ul ul {
    position: absolute;
    z-index: 11;
    max-height: 0;
    /* height: fit-content;
     */
    min-width: fit-content;
    width: 100%;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    margin: 0 auto;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s;
  }
  nav ul li:hover > ul {
    /* top: var(--nav-height); */
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul li {
    position: relative;
    z-index: 11;
    margin: 0;
    width: 100%;
    height: fit-content;
    display: list-item;
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--gray-400);
  }
  nav ul ul li a {
    line-height: 4rem;
  }

  .nav-btn {
    display: none;
  }
  .nav-mobile-logo {
    display: none;
  }
  nav .expand {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  nav ul li {
    font-size: 1.4rem;
  }
}
