.give-page .page-hero {
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/images/wv-giving.jpg');
  background-size: cover;
  background-position: center;
}

/* Give Online Section */
.give-online-container {
  border-bottom: var(--primaryBorder);
}
.give-page .give-online {
  gap: 0 !important;
}
.give-page section {
  text-align: center;
}
.give-page .section-title {
  white-space: normal;
}
.give-page .give-online-container .section-title {
  padding-bottom: 1rem;
  margin: 0;
}
.give-page .give-online-container .section-text {
  margin: 0 auto;
}

.give-page .give-online-container .give-btn {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
  border-radius: var(--borderRadius);
  margin-top: 2rem;
}

.give-page .footnote {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 800px;
}

@media screen and (min-width: 815px) {
  .give-page .give-online {
    padding-bottom: 0;
  }
  .give-page .give-online-container .section-title {
    padding-bottom: 2rem;
  }
  .give-page .give-online-container .give-btn {
    margin-top: 4rem;
  }
  .give-page .footnote {
    margin-top: 4rem;
  }
}

/* Other Ways To Give */
.give-page .other-options {
  padding-bottom: 4rem;
  gap: 0;
}
.give-page .other-options-container .section-title {
  padding-bottom: 4rem;
}
.give-page .other-options-container article {
  margin-bottom: 2rem;
  background: var(--gray-50);
  padding: 2rem;
}
.give-page .other-options-container article .title {
  color: var(--gray-1000);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-right: 1rem;
}
.give-page .other-options-container article .icon {
  font-size: 2rem;
}
.give-page .other-options-container article .strong {
  color: var(--gray-1000);
  font-weight: bold;
}

@media screen and (min-width: 815px) {
  .give-page .other-options {
    padding-left: 0;
    padding-right: 0;
  }
  .give-page .other-options-container .articles {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .give-page .other-options-container .articles article {
    margin: 0 auto;
    max-width: 350px;
    flex: 1;
  }
}

@media screen and (min-width: 992px) {
  .give-page .other-options-container .articles {
    gap: 4rem;
  }
  .give-page .other-options .articles article {
    max-width: 400px;
    padding: 2rem 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .give-page .other-options-container .articles {
    gap: 8rem;
  }
}
