.event-page .section-title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  white-space: normal;
  text-align: center;
}
.event-page .description {
  margin: 0 auto;
}

/* Icons */
.event-page .icons {
  max-width: 600px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.event-page .icons div {
  max-width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-page .icons .icon {
  font-size: 2rem;
}
.event-page .icons .label {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--gray-1100);
  font-weight: 600;
}
.event-page .icons .text {
  text-align: center;
}
